<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductMapper">

   <select id="goodsRetrieve" resultType="Product" 
	parameterType="string">
	select *
	from tb_product
	where product_code= #{gCode}
	</select>
	
	<select id="selectGoodsBySearchWord" parameterType="String" resultType="Product">
		select * from tb_product where product_name 
		like '%'|| #{searchWord} || '%' order by product_name
	</select>
	
	<select id="selectKeywordSearch" parameterType="String" resultType="String">
		select product_name from tb_product where product_name 
		like '%'|| #{searchWord} || '%' order by product_name
	</select>
	
	<select id="selectAll" parameterType="String" resultType="Product">
		select * from tb_product where product_name 
		like '%'|| #{searchWord} || '%' order by product_name
	</select>
	
	<select id="totalCount" resultType="int">
		select count(*) from tb_product where product_name 
		like '%'|| #{searchWord} || '%' order by product_name
	</select>
	
		<select id="goodsList" resultType="Product" parameterType="string">
		select * from tb_product
		where category_code= #{category_code}	
	</select>
	
	<select id="productDetails" parameterType="String" resultType="Product">
		select * from tb_product where product_code = #{product_code}
	</select>
	
	<select id="productList" parameterType="hashmap" resultType="java.util.HashMap">
		SELECT 
		    PRODUCT_CODE
		    ,PRODUCT_NAME
		    ,PRODUCT_IMG
		    ,PRODUCT_CONTEXT
		    ,PRODUCT_PRICE
		    ,PRODUCT_STOCK
		    ,CATEGORY_CODE
		    ,PRODUCT_COMPANY
		    ,PRODUCT_DELIP
		    ,PRODUCT_STATUS
		    ,PRODUCT_REGDATE
		    ,PRODUCT_UPDATE
		FROM TB_PRODUCT
		WHERE 1=1
		<if test="filter != null and filter != ''">
			<if test='filter == "g"'>
				AND CATEGORY_CODE = '001'
			</if>
			<if test='filter == "s"'>
				AND CATEGORY_CODE = '002'
			</if>
			<if test='filter == "f"'>
				AND CATEGORY_CODE = '003'
			</if>
		</if>
		<if test="param != null and param != ''">
			<if test="param == 'many'">
				ORDER BY PRODUCT_STOCK ASC
			</if>
			<if test="param == 'low'">
				ORDER BY PRODUCT_PRICE ASC
			</if>
			<if test="param == 'high'">
				ORDER BY PRODUCT_PRICE DESC
			</if>
		</if>
	</select>	
	
	<select id="productList2" parameterType="hashmap" resultType="java.util.HashMap">
		SELECT 
		    PRODUCT_CODE
		    ,PRODUCT_NAME
		    ,PRODUCT_IMG
		    ,PRODUCT_CONTEXT
		    ,PRODUCT_PRICE
		    ,PRODUCT_STOCK
		    ,CATEGORY_CODE
		    ,PRODUCT_COMPANY
		    ,PRODUCT_DELIP
		    ,PRODUCT_STATUS
		    ,PRODUCT_REGDATE
		    ,PRODUCT_UPDATE
		FROM TB_PRODUCT
	</select>	
	
	<update id="updateProduct" parameterType="hashmap">
		UPDATE TB_PRODUCT
		SET
<!-- 		<if test="param != null and param != ''"> -->
<!-- 			PRODUCT_CODE = #{PRODUCT_CODE}, -->
<!-- 		</if> -->
		<if test="PRODUCT_NAME != null and PRODUCT_NAME != ''">
			PRODUCT_NAME = #{PRODUCT_NAME},
		</if>
		<if test="PRODUCT_IMG != null and PRODUCT_IMG != ''">
			PRODUCT_IMG = #{PRODUCT_IMG},
		</if>
		<if test="PRODUCT_CONTEXT != null and PRODUCT_CONTEXT != ''">
			PRODUCT_CONTEXT = #{PRODUCT_CONTEXT},
		</if>
		<if test="PRODUCT_PRICE != null and PRODUCT_PRICE != ''">
			PRODUCT_PRICE = #{PRODUCT_PRICE},
		</if>
		<if test="PRODUCT_STOCK != null and PRODUCT_STOCK != ''">
			PRODUCT_STOCK = #{PRODUCT_STOCK},
		</if>
		<if test="CATEGORY_CODE != null and CATEGORY_CODE != ''">
			CATEGORY_CODE = #{CATEGORY_CODE},
		</if>
		<if test="PRODUCT_COMPANY != null and PRODUCT_COMPANY != ''">
			PRODUCT_COMPANY = #{PRODUCT_COMPANY},
		</if>
		<if test="PRODUCT_STATUS != null and PRODUCT_STATUS != ''">
			PRODUCT_STATUS = #{PRODUCT_STATUS},
		</if>
		PRODUCT_UPDATE = SYSDATE
		WHERE PRODUCT_CODE = #{proCd}

	</update>
	
	<delete id="deleteProduct" parameterType="hashmap">
		DELETE FROM TB_PRODUCT WHERE PRODUCT_CODE = #{proCd}
	</delete>
	
	<insert id="insertProduct" parameterType="hashmap">
		INSERT INTO TB_PRODUCT (
			PRODUCT_CODE
			,PRODUCT_NAME
			,PRODUCT_IMG
			,PRODUCT_CONTEXT
			,PRODUCT_PRICE
			,PRODUCT_STOCK
			,CATEGORY_CODE
			,PRODUCT_COMPANY
			,PRODUCT_DELIP
			,PRODUCT_STATUS
			,PRODUCT_REGDATE
			,PRODUCT_UPDATE
		)VALUES (	
			#{PUT_PRODUCT_CODE},
			#{PUT_PRODUCT_NAME},
			#{PUT_PRODUCT_IMG},
			#{PUT_PRODUCT_CONTEXT},
			#{PUT_PRODUCT_PRICE},
			#{PUT_PRODUCT_STOCK},
			#{PUT_CATEGORY_CODE},
			#{PUT_PRODUCT_COMPANY},
			#{PUT_PRODUCT_DELIP},
			'판매중',
			SYSDATE,
			SYSDATE
		)
	</insert>
	
   <select id="newList" resultType="java.util.HashMap">
      SELECT 
          PRODUCT_CODE
          ,PRODUCT_NAME
          ,PRODUCT_IMG
          ,PRODUCT_CONTEXT
          ,PRODUCT_PRICE
          ,PRODUCT_STOCK
          ,CATEGORY_CODE
          ,PRODUCT_COMPANY
          ,PRODUCT_DELIP
          ,PRODUCT_STATUS
          ,PRODUCT_REGDATE
          ,PRODUCT_UPDATE
      FROM (
        SELECT
        PRODUCT_CODE
          ,PRODUCT_NAME
          ,PRODUCT_IMG
          ,PRODUCT_CONTEXT
          ,PRODUCT_PRICE
          ,PRODUCT_STOCK
          ,CATEGORY_CODE
          ,PRODUCT_COMPANY
          ,PRODUCT_DELIP
          ,PRODUCT_STATUS
          ,PRODUCT_REGDATE
          ,PRODUCT_UPDATE
        FROM TB_PRODUCT
        ORDER BY PRODUCT_REGDATE DESC
       )
       <![CDATA[where rownum <= 4]]>
   </select> 	
	
	
</mapper>






